body{
	background-image: url("images/background-image.jpg");
	background-repeat: no-repeat;
	background-position: center;
    background-attachment: fixed;
}
footer{
	width: 100%;
	background-color: black;
	
}